:root {
  --main-bg: #f8f7ed;
  --main-text: #272727;
  --dark-blue: #0b6682;
  --light-blue: #96ccd9;
  --medium-blue: #4b8fa0;
  --gold: #bfa34e;
  --light-gold: #eadeba;
  --light-dark-blue: #668fa7;
  --font-heading: "Fraunces", serif;
  --font-body: "Work Sans", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
  text-decoration: none;
}
.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
body {
  color: var(--main-text);
  background-color: var(--main-bg);
  /* background-image: url(../assets/bg.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; */
  font-family: var(--font-body);
  margin: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
}
.logo {
  align-self: center;
  color: var(--dark-blue);
}
.logo > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.logo__link {
  text-decoration: none;
  color: var(--medium-blue);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-heading);
  font-size: 3rem;
  font-weight: 600;
}
.logo__link:hover {
  color: var(--dark-blue);
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.header {
  display: flex;
  padding: 1rem 5rem;
  justify-content: space-between;
  align-items: center;
  gap: 15rem;
  background-color: var(--light-blue);
  border-radius: 0rem 0rem 1.25rem 1.25rem;
}
.heading-medium {
  font-family: var(--font-heading);
  font-weight: 500;
}

.heading-semibold {
  color: var(--gold);
  font-weight: 600;
  font-variation-settings: "SOFT" 100, "opsz" 72;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  color: var(--dark-blue);
}
.menu__link {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
}
.menu__link:hover {
  text-decoration: underline;
}
.--active {
  text-decoration: underline;
}
.CTA__button {
  display: inline-block;
  padding: 1rem 1rem;
  background-color: var(--gold);
  color: var(--main-bg);

  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-body, sans-serif);
  white-space: nowrap;

  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.CTA__button:hover {
  background-color: var(--dark-blue);
  color: var(--main-bg);
}
.text-underline {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem; /* or try 0.05em */
}
section {
  margin: 0 auto;
  padding: 6.25rem 0rem;
  max-width: 80rem;
}
.intro__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}
.intro__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}
.intro__title {
  font-size: 4rem;
  line-height: 4.8rem; /* 120% */
}
.intro__subtitle {
  color: var(--main-text);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.8rem; /* 150% */
}
.intro__image {
  width: 33rem;
  height: auto;
  margin: 0 auto;
}
h1 {
  font-family: var(--font-heading, serif);
  font-variation-settings: "SOFT" 100, "opsz" 72;
  font-size: 3rem;
  font-weight: 600;
  line-height: normal;
}

h2 {
  font-size: 3rem;
  font-family: var(--font-heading, serif);
  font-weight: 500;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
}
.footer {
  background-color: var(--medium-blue);
  color: var(--main-bg);
  padding: 1rem 0;
  border-radius: 1.25rem 1.25rem 0 0;
  width: 80rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.footer__text {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}
.socials__item {
  background-color: var(--main-bg);
  padding: 0.5rem 0.5rem;
  border-radius: 7px;
}
.socials__item:hover {
  background-color: var(--light-gold);
  transition: color 0.3s ease;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.socials__link {
  color: var(--medium-blue);
  transition: color 0.3s ease;
}

.about__header {
  color: var(--dark-blue);
  font-size: 3rem;
}
.about__text {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem 2rem;
  margin: 7rem auto;
  padding: 7rem 0;
  background-image: url(../assets/aboutus_phone.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  grid-column: 2;
}

.left-aligned {
  grid-column: 1;
  align-self: flex-start;
}
.bold-text {
  font-weight: 500;
}
.section__bg {
  background-image: url(../assets/section_bg.svg);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
