:root {
  --main-bg: #f8f7ed;
  --main-text: #272727;
  --dark-blue: #0b6682;
  --light-blue: #96ccd9;
  --medium-blue: #4b8fa0;
  --gold: #bfa34e;
  --white: #fffef8;
  --light-gold: #eadeba;
  --light-dark-blue: #668fa7;
  --font-heading: "Fraunces", serif;
  --font-body: "Work Sans", sans-serif;

  --font-size-xs: 0.9rem;
  --font-size-base: 1rem;
  --font-size-s: 1.25rem;
  --font-size-m: 1.5rem;
  --font-size-l: 2rem;
  --font-size-xl: 2.5rem;
  --font-size-xxl: 3rem;
  --font-size-xxxl: 4rem;

  --space-1: 0.5rem;
  --space-2: 0.75rem;
  --space-3: 1rem;
  --space-4: 1.25rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 3rem;
  --space-8: 2.5rem;
  --space-9: 4rem;
  --space-10: 5rem;
  --space-11: 10rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
  text-decoration: none;
}
.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
body {
  color: var(--main-text);
  background-color: var(--main-bg);
  font-family: var(--font-body);
  margin: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}
main {
  width: 100%;
  flex: 1 0 auto;
}
.logo {
  align-self: center;
  color: var(--dark-blue);
}
.logo > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-1);
}
.logo__link {
  text-decoration: none;
  color: var(--medium-blue);
  display: flex;
  align-items: center;
  gap: var(--space-1);
  font-family: var(--font-heading);
  font-size: var(--font-size-xxl);
  font-weight: 600;
}
.logo__link:hover {
  color: var(--dark-blue);
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.header {
  display: flex;
  padding: var(--space-3) var(--space-10);
  justify-content: space-between;
  align-items: center;
  gap: 15rem;
  background-color: var(--light-blue);
  border-radius: 0rem 0rem var(--space-4) 1.25rem;
}
.heading-medium {
  font-family: var(--font-heading);
  font-weight: 500;
}

.heading-semibold {
  color: var(--gold);
  font-weight: 600;
  font-variation-settings: "SOFT" 100, "opsz" 72;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-9);
  color: var(--dark-blue);
}
.menu__link {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: normal;
}
.menu__link:hover {
  text-decoration: underline;
}
.active {
  text-decoration: underline;
}

.CTA__button {
  display: inline-block;
  padding: var(--space-3) var(--space-3);
  background-color: var(--gold);
  color: var(--main-bg);

  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-body, sans-serif);
  white-space: nowrap;

  text-decoration: none;
  border: none;
  border-radius: var(--space-1);
  transition: background-color 0.3s ease, transform 0.2s ease;

  max-width: fit-content;
  cursor: pointer;
}
.CTA__button:hover {
  background-color: var(--dark-blue);
  color: var(--main-bg);
  transform: translateY(-2px);
}
.CTA__button--round {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  min-width: var(--space-10);
  min-height: var(--space-10);

  background-color: var(--gold);
  color: var(--main-bg);

  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;

  cursor: pointer;
}
.CTA__button--round:hover {
  background-color: var(--dark-blue);
  transform: translateY(-2px);
}
.tool__action {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  margin-top: var(--space-3);
}

.tool__tooltip {
  font-size: var(--font-size-xs);
  color: var(--text-muted, #444);
  max-width: 300px;
  line-height: 1.4;
}

.text-underline {
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
}
section {
  margin: 0 auto;
  padding: 6.25rem 0rem;
  max-width: 80rem;
}
.intro__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-9);
}
.intro__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-9);
}
.intro__title {
  font-size: var(--font-size-xxxl);
  line-height: 4.8rem;
}
.intro__subtitle {
  color: var(--main-text);
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 1.8rem;
}
.intro__image {
  width: 33rem;
  height: auto;
  margin: 0 auto;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-9);
}
h1,
h2,
h3 {
  font-family: var(--font-heading, serif);
  font-variation-settings: "SOFT" 100, "opsz" 72;
}
h1 {
  font-size: var(--font-size-xxl);
  font-weight: 600;
  line-height: normal;
}

h2 {
  font-size: var(--font-size-xxxl);
  font-weight: 500;
}
h3 {
  font-size: var(--font-size-xxl);
}
.footer {
  background-color: var(--medium-blue);
  color: var(--main-bg);
  padding: var(--space-3) 0;
  border-radius: 1.25rem 1.25rem 0 0;
  width: 80rem;
  justify-self: flex-end;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 var(--space-7);
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(171, 168, 142, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup__content {
  background: white;
  padding: var(--space-6);
  border-radius: var(--space-3);
  text-align: center;
  position: relative;
  box-shadow: 0 0 var(--space-6) rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.popup__close {
  position: absolute;
  top: var(--space-1);
  right: var(--space-3);
  background: none;
  border: none;
  font-size: var(--font-size-l);
  cursor: pointer;
}

.popup h2 {
  font-size: var(--font-size-l);
  color: var(--dark-blue);
}
.popup__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
}
.secondary-button {
  color: var(--dark-blue);
}
.hidden {
  display: none;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-3);
}
.footer__text {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}
.socials__item {
  background-color: var(--main-bg);
  padding: var(--space-1) var(--space-1);
  border-radius: 7px;
}
.socials__item:hover {
  background-color: var(--light-gold);
  transition: color 0.3s ease;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.socials__link {
  color: var(--medium-blue);
  transition: color 0.3s ease;
}

.about__header {
  color: var(--dark-blue);
}
.about__text {
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}
.about__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem var(--space-9);
  margin: 7rem auto;
  padding: 7rem 0;
  background-image: url(../assets/intro_phone.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-6);
  grid-column: 2;
}

.left-aligned {
  grid-column: 1;
  align-self: flex-start;
}
.bold-text {
  font-weight: 600;
}
.section__bg {
  background-image: url(../assets/section_bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  display: flex;
  justify-content: center;
}
.section__bg--cards {
  background-image: url(../assets/section_cards_bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-10);
}
.tools__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-10);
  line-height: 1.875rem;
  margin-bottom: var(--space-10);
}
.tools__text {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  width: 50rem;
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}
.tools__cards {
  display: flex;
  flex-direction: row;
  gap: var(--space-5);
}
.tools__card {
  background-color: var(--light-blue);
  height: 100%;
  padding: 1.625rem 2.375rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: 1.25rem;
}
.tools__name {
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-heading);
}
.tools__info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.tools__description {
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: 400;
  line-height: var(--space-5);
}
.card__frame {
  background-color: var(--light-gold);
  border-radius: 10px;
}
.inverted-card {
  background-color: var(--gold);
  justify-content: center;
  color: var(--main-bg);
}

.masked-image {
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 90%;

  -webkit-mask-image: url("../assets/mask_shape.svg");
  -webkit-mask-size: cover;
  mask-image: url("../assets/mask_shape.svg");
  mask-size: cover;
}
.tools__card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 var(--space-3) rgba(0, 0, 0, 0.1);
}
.tools__card-link:hover {
  transform: scale(1.03);
  box-shadow: 0 0 var(--space-3) rgba(0, 0, 0, 0.1);
}

.tool1 {
  background-image: url("../assets/phone_reciever.svg");
}

.tool2 {
  background-image: url("../assets/phone_rotary.svg");
  background-position: 50% 20%;
}
.tool3 {
  background-image: url("../assets/phone_keypad.svg");
  background-position: center;
  background-size: 80%;
}
.arrow-button-svg {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--main-bg);
  transition: color 0.3s ease;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.arrow-button-svg svg path {
  transition: fill 0.3s ease;
}

.arrow-button-svg .arrow-label {
  position: absolute;
  pointer-events: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: var(--font-size-base);
}

.arrow-button-svg:hover {
  color: var(--main-bg);
  transform: translateY(-2px);
}

.arrow-button-svg:hover svg path {
  fill: var(--dark-blue);
}
.secondary-button:hover svg path {
  fill: var(--light-dark-blue);
}
.tool {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.section-gap {
  gap: var(--space-9);
}
.tool__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-9);
  max-width: 30rem;
}
.tool__info--tool3 {
  max-width: 33rem;
}
.tool__image {
  height: 65vh;
  width: auto;
  object-fit: contain;
}
.tool__header > h2 {
  font-size: var(--font-size-xxl);
  color: var(--dark-blue);
}
.tool__subtitle {
  font-size: var(--font-size-s);
}
.tool__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  align-self: flex-start;
  padding-bottom: var(--space-7);
  justify-content: space-between;
  height: 53rem;
}
.inverted {
  flex-direction: row-reverse;
}
.navigation__button {
  align-self: flex-end;
}
.navigation__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tool__howto-label {
  font-family: var(--font-heading);
  font-size: var(--font-size-m);
  font-weight: 600;
  display: inline-block;
  margin-bottom: var(--space-1);
}
.tool__description {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}
.tool__instructions {
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.stories__bg {
  background-image: url("../assets/stories_ani.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stories__cards-section {
  margin-bottom: 0;
}
.stories__cards-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}
.stories__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-6);
  padding-block: var(--space-9);
  width: 100%;
}
.stories__cards--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-6);

  color: var(--dark-blue);
}
.stories__cards--text {
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  color: var(--main-text);
}
.review-card {
  background: var(--white);
  border-radius: var(--space-3);
  padding: var(--space-6);
  box-shadow: 0 var(--space-1) var(--space-3) rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  transition: transform 0.2s ease;
}

.review-card__user {
  display: flex;
  flex-direction: row;
  gap: var(--space-1);
}
.review-card__name {
  font-weight: bold;
  font-size: var(--font-size-base);
}

.review-card__date {
  font-size: 0.7rem;
}

.review-card__usage {
  font-style: italic;
  color: #666;
}

.review-card__data {
  line-height: 1.5;
}
.review-card__tool {
  line-height: 1.5;
  font-weight: 500;
}
.CTA__image {
  width: 50vw;
  height: auto;
  position: relative;
}
.CTA_subtitle {
  font-size: var(--font-size-l);
  font-weight: 500;
  line-height: 1.25;
  font-family: var(--font-heading);
}
.centered-button {
  justify-self: center;
  align-self: center;
}
.centered-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-9);
  line-height: 1.875rem;
}
.CTA__section {
  gap: 0;
}
.CTA__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CTA__button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 60rem;
}
.CTA__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-10);
}
.CTA__gif {
  width: 20vw;
  height: auto;
}
.centered-section h2 {
  font-size: var(--font-size-xxl);
  color: var(--dark-blue);
}
.centered-section article {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  max-width: 40vw;
}
.submit-form {
  max-width: 30vw;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  margin-bottom: var(--space-10);
}

.submit-form__header {
  font-size: var(--font-size-xxl);
  margin-bottom: var(--space-10);
  margin-top: var(--space-7);
  justify-self: center;
}
.field {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  position: relative;
}
label,
legend {
  font-family: var(--font-heading);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

input[type="text"],
select,
textarea {
  background-color: var(--light-gold);
  border: none;
  padding: var(--space-2);
  border-radius: 4px;
  width: 100%;
  font-size: var(--font-size-base);
  font-family: var(--font-body);
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right var(--space-2) center;
  background-size: var(--space-3);
}

textarea {
  resize: vertical;
  min-height: 2rem;
}

fieldset {
  border: none;
  padding-top: var(--space-3);
  display: flex;
  flex-direction: column;
}
fieldset > label {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: var(--space-5);
  font-size: var(--font-size-base);
  color: var(--main-text);
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: var(--font-size-base);
  margin-bottom: var(--space-3);
  gap: var(--space-2);
  user-select: none;
  position: relative;
  line-height: var(--space-5);
}

.checkbox-wrapper input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.custom-checkbox {
  width: var(--space-5);
  height: var(--space-5);
  background-color: var(--light-gold);
  border: 2px solid var(--gold);
  border-radius: 5px;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s ease;
}

.checkbox-wrapper:hover .custom-checkbox {
  box-shadow: 0 0 0 2px rgba(191, 163, 78, 0.3);
}

.checkbox-wrapper input[type="checkbox"]:checked + .custom-checkbox::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid var(--gold);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.tool__radios > label {
  font-family: var(--font-body);
  font-weight: 400;
}

.radio-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: var(--font-size-base);
  margin-bottom: var(--space-3);
  gap: var(--space-2);
  user-select: none;
  position: relative;
}

.radio-wrapper input[type="radio"] {
  display: none;
}

.custom-radio {
  width: var(--space-5);
  height: var(--space-5);
  background-color: var(--light-gold);
  border: 2px solid var(--gold);
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s ease;
}

.radio-wrapper input[type="radio"]:checked + .custom-radio::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: var(--gold);
  border-radius: 50%;
}
.radio-wrapper:hover .custom-radio {
  box-shadow: 0 0 0 2px rgba(191, 163, 78, 0.2);
}

button[type="submit"] {
  background-color: var(--gold);
  color: var(--main-bg);
  border: none;
  padding: var(--space-3) var(--space-5);
  font-family: var(--font-body);
  font-size: var(--font-size-base);

  border-radius: 6px;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.2s ease;
  align-self: center;
}

button[type="submit"]:hover {
  background-color: var(--dark-blue);
  color: var(--main-bg);
  transform: translateY(-2px);
}
input[list] {
  background-color: var(--light-gold);
  border: none;
  padding: var(--space-2);
  border-radius: 4px;
  width: 100%;
  font-size: var(--font-size-base);
  font-family: var(--font-body);
}

.info__icon {
  color: var(--gold);
  font-size: var(--font-size-base);
  cursor: help;
}

.custom-suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--gold);
  border-radius: 6px;
  background-color: var(--main-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  z-index: 10;
  width: 30vw;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.custom-suggestions li {
  padding: var(--space-2);
  cursor: pointer;
  transition: background 0.2s ease;
}

.custom-suggestions li:hover {
  background-color: var(--input-bg, #f9f3da);
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  font-family: var(--font-body);
}
.rotary-dial {
  transition: transform 1s ease-out;
  transform-origin: center center;
}

.rotary__dial-wrapper {
  position: relative;
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.rotaryDial {
  width: 100%;
  height: 100%;
}

.rotary-dial {
  width: 100%;
  height: 100%;
  transition: transform 4s ease-in-out;
  transform-origin: center center;
}

.dial-pin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}
.tool-2__interaction {
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}
.control__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-6);
}
.breathing__message {
  text-align: center;
  font-size: var(--font-size-m);
  font-weight: 600;
  margin-bottom: var(--space-3);
  color: var(--dark-blue);
  min-height: var(--space-6);
  transition: opacity 0.5s ease;
}
.keypad {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-6);
}
.keypad__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}
.keypad__box {
  background-color: var(--light-blue);
  padding: var(--space-6);
  display: flex;
  flex-direction: row;
  border-radius: var(--space-3);
  margin: 0 auto;
  height: 25rem;
  box-shadow: 0 0 var(--space-1) rgba(0, 0, 0, 0.2);
  border: 3px solid var(--dark-blue);
}
.keypad__buttons {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  gap: var(--space-3) var(--space-5);
  justify-content: space-between;
}

.keypad__button {
  font-size: 1.75rem;
  font-family: var(--font-heading);
  padding: var(--space-1) var(--space-1);
  border-radius: var(--space-1);
  background-color: var(--gold);
  color: var(--main-bg);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 0.25rem rgba(0, 0, 0, 0.2);
  border: 3px solid #ac8e32;
  width: 5rem;
  height: 5rem;
}
.keypad__button:hover {
  background-color: var(--dark-blue);
  color: var(--main-bg);
  transform: translateY(-2px);
}
.keypad__prompt-area {
  text-align: center;
  line-height: var(--space-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-5);
}

.keypad__prompt {
  font-size: var(--font-size-base);
}

.keypad__textarea {
  width: 100%;
  max-width: 500px;
  padding: var(--space-3);
  font-size: var(--font-size-base);
}

.calm-message {
  margin-top: var(--space-3);
  font-style: italic;
  color: #4a9078;
}
